# --- PROTECTION O2SWITCH ---
logersenegal/local_settings.py
.htaccess
passenger_wsgi.py
tmp/restart.txt

# --- PROTECTION DONNÉES CLIENTS ---
media/
staticfiles/
db.sqlite3

# --- CACHE ---
__pycache__/
*.pyc
.env
